@{
    ViewData["Title"] = Localizer["Access Denied"];
}

<header>
    <h1 class="text-danger">@Localizer["Access Denied"].</h1>
    <p class="text-danger">@Localizer["You do not have access to this resource"].</p>
</header>
