@{
    ViewData["Title"] = Localizer["Forgot Password Confirmation"];
}

<h2>@ViewData["Title"].</h2>
<p>
    @Localizer["If you have an account with us you will get an email with a reset link shortly."]
</p>
